{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}



{% block body %}
<div class="cart-page-wrapper">
    <h1>Votre panier</h1>
    <div class="main-container">
        {% if data %}
            <section class="detail-section">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Supprimer l'article</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr class="cart-item" cart-item="{{item.product.id}}" >
                        <td>
                        {% for picture in item.product.pictures %}
                            {% if loop.first %}
                                <img class="product-pic" src="{{picture.pictureName}}" alt="photo de la face avant de produit">
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>{{item.product.productName}} - {% if item.product.type is not null %}{{item.product.type.typeName}}{% else %}{{item.product.productColor}}{% endif %} - {% if item.product.productVolume is not null %}{{item.product.productVolume}}{% endif %}</td>
                        <td class="product-price">{{item.product.productVATprice}} €</td>
                        <td>
                            <div class="wrapper">
                                <div class="quantity">
                                    <button class="minus cart-decrement" cart-product="{{item.product.id}}" aria-label="Decrease">&minus;</button>
                                    <input type="number" class="input-box" value="{{item.quantity}}" min="0" cart-product="{{ item.product.id }}">
                                    <button class="plus cart-increment" cart-product="{{item.product.id}}" aria-label="Increase">&plus;</button>
                                </div>
                            </div>
                            <td class="sub-total">{{item.subtotal}} €</td>
                        </td>
                        <td class="remove-item" cart-product="{{item.product.id}}"><i class="fa-solid fa-trash"></i></td>
                        <tr>
                        {% endfor %} 
                        </tbody>
                    </table>
                
            </section>
            <section class="recap-section">
                
                {% if nbItems <= 1 %}
                <p class="nbItems centered">{{nbItems}} article</p>
                {% else %}
                <p class="nbItems centered">{{nbItems}} articles</p>
                {% endif %}
               
                <div class="price-container">
                    <p>total ttc:</p>
                    <p class="total-price">{{total}} €</p>
                </div>
                <p class="grey-paragraph centered">TVA incluse</p>
                <a href={{ path('app_payment-identification') }}><button class="btn basket-btn">Payer</button></a>
                <p class="grey-paragraph centered">Paiement 100% sécurisé</p>
                <div class="payment-methods">
                    <img src="/img/paymentMethods/american-express.png" alt="logo du moyen de payment american express"><img src="/img/paymentMethods/mastercard.png" alt="logo du moyen de paiement mastercard"><img src="/img/paymentMethods/visa.png" alt="logo do moyen de payment carte visa" ><img src="/img/paymentMethods/google-pay.png" alt="logo du moyen de payment google pay" >
                </div>
                <p class="grey-paragraph centered">Nous acceptons les cartes de crédit et de débit.</p>
            </section>
        {% else %}
            <div class="emptyCart__container">
                <p class="emptyCart">Le panier est vide</p>
                <a class="redirection-link" href="{{ path('app_beers') }}">nos bières <i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
            
        {% endif %}  
    </div>
</div>
{% endblock %}



