{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}



{% block body %}
<div class="cart-page-wrapper">
    <h1>Votre panier</h1>
    <div class="main-container">
        {% if data %}
            <section class="detail-section">
                {% for item in data %}
                    <table>
                    <tbody>
                        {% for picture in item.product.pictures %}
                            {% if loop.first %}
                        <td><img class="product-pic" src="{{picture.pictureName}}" alt=""></td>
                            {% endif %}
                        {% endfor %}
                        <td>{{item.product.productName}} - {{item.product.type.typeName}}</td>
                        <td>{{item.product.productVolume}}</td>
                        <td>{{item.product.productPrice}} €</td>
                        <td>
                            <div class="wrapper">
                                <div class="quantity">
                                    <a href="{{ path('app_cart-remove',{id:item.product.id}) }}"><button class="minus" aria-label="Decrease">&minus;</button></a>
                                    <input type="number" class="input-box" value="{{item.quantity}}" min="1" max="10">
                                    <a href="{{ path('app_cart-add',{id:item.product.id}) }}"><button class="plus" aria-label="Increase">&plus;</button></a>
                                </div>
                            </div>
                            <td>{{item.subtotal}} €</td>
                        </td>
                        <td class="trash-icone"><i class="fa-solid fa-trash"></i></td>
                        </tbody>
                    </table>
                {% endfor %} 
            </section>
            <section class="recap-section">
                {% if nbItems > 1 %}
                    <p class="nbItems centered">{{nbItems}} articles</p>
                {% else %}
                    <p class="nbItems centered">{{nbItems}} article</p>
                {% endif %}
               
                <div class="price-container">
                    <p>total ttc:</p><p>{{ total }}€</p>
                </div>
                <button class="btn basket-btn">Payer</button>
                <p class="grey-paragraph centered">Paiement 100% sécurisé</p>
            </section>
        {% else %}
            <div class="emptyCart"><p>Le panier est vide</p></div>
        {% endif %}  
    </div>
</div>
{% endblock %}
