{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}



{% block body %}
<div class="cart-page-wrapper">
    <h1>Votre panier</h1>
    <div class="main-container">
        {% if data %}
            <section class="detail-section">
                {% for item in data %}
                    <table class="cart-item" cart-item="{{item.product.id}}" >
                    <tbody>
                        {% for picture in item.product.pictures %}
                            {% if loop.first %}
                        <td><img class="product-pic" src="{{picture.pictureName}}" alt=""></td>
                            {% endif %}
                        {% endfor %}
                        <td>{{item.product.productName}} - {{item.product.type.typeName}}</td>
                        <td>{{item.product.productVolume}}</td>
                        <td class="product-price">{{item.product.productPrice}} €</td>
                        <td>
                            <div class="wrapper">
                                <div class="quantity">
                                    <button class="minus cart-decrement" cart-product="{{item.product.id}}" aria-label="Decrease">&minus;</button>
                                    <input type="number" class="input-box" value="{{item.quantity}}" min="0" cart-product="{{ item.product.id }}">
                                    <button class="plus cart-increment" cart-product="{{item.product.id}}" aria-label="Increase">&plus;</button>
                                </div>
                            </div>
                            <td class="sub-total">{{item.subtotal}} €</td>
                        </td>
                        <td class="trash-icone remove-item" cart-product="{{item.product.id}}"><i class="fa-solid fa-trash"></i></td>
                        </tbody>
                    </table>
                {% endfor %} 
            </section>
            <section class="recap-section">
                
                {% if nbItems > 1 %}
                <p class="nbItems centered">{{nbItems}} articles</p>
                {% else %}
                <p class="nbItems centered">{{nbItems}} article</p>
                {% endif %}
               
                <div class="price-container">
                    <p>total ttc:</p><p class="total-price">{{total}} €</p>
                </div>
                <button class="btn basket-btn">Payer</button>
                <p class="grey-paragraph centered">Paiement 100% sécurisé</p>
            </section>
        {% else %}
            <div class="emptyCart"><p>Le panier est vide</p></div>
        {% endif %}  
    </div>
</div>
{% endblock %}



