{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="login-page">
    <section id="login__login-section">
        <form method="post" class="login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="login-title title">Connectez-vous à votre compte</h1>
            <label for="inputEmail">Email</label>
            <input class="custom-input" type="email" name="email" placeholder="Email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input class="custom-input" type="password" name="password" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox">
                <label><input type="checkbox" name="_remember_me"> Se souvenir de moi</label>
            </div>

            <button class="register-login-btn btn" type="submit">Connexion</button>
        </form>
    </section>

    <section id="login__register-section">
        <h2 class="title">Je n'ai pas de compte</h2>
        <a href=" {{ path('app_register') }}"><button class="register-login-btn btn" type="submit">Créer un compte</button></a>
    </section>
</section>
{% endblock %}
