{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<a href="#header"><img src="/icones/arrow.webp" onclick="topFunction()" class="top-button" alt="Image représentant un cercle vert contenant une flèche blanche permettant de remonter en haut de page"> </a>
<div id="home-wrapper">

    <div class="parallax"><p>Brasserie locale et artisanale, La brasserie Sainte Cru est née à Sainte-Croix-en-Plaine en 2012. Installée à Colmar depuis 2013, nous brassons désormais une <strong>gamme permanente disponible toute l’année</strong> et une <strong>gamme éphémère renouvelée chaque mois</strong>, disponible jusqu’à épuisement du stock</p></div>

        <section id="permanent-section">
            <div class="title-container">
                <h2>les permanentes</h2>
                <img id="logo2" src="/logo/Logo-2.webp" alt="Logo de la Brasserie Sainte Cru">
            </div>
            <h3>disponibles toute l'année</h3>
            <div class="carousel">
                <div class="group">
                    {% for product in permanent %}
                        {% for picture in product.pictures %}
                            {% if loop.first %}
                                <div class="card">
                                    <a href="{{ path('detail_product',{'id':product.id})}}">
                                        <img src="{{picture.pictureName}}" alt="{{product.productName}}">
                                        <div class="overlay">
                                            <div class="overlay-text">{{product.productName}}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}            
                    {% endfor %}
                </div>
                <div aria-hidden class="group"> 
                    {% for product in permanent %}
                        {% for picture in product.pictures %}
                            {% if loop.first %}
                                <div class="card">
                                    <a href="{{ path('detail_product',{'id':product.id})}}">
                                        <img src="{{picture.pictureName}}" alt="{{product.productName}}">
                                        <div class="overlay">
                                            <div class="overlay-text">{{product.productName}}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}            
                    {% endfor %}
                </div> 
            </div>
            <div class="seeAll-link__container"> <a href="{{ path('app_beers') }}" class="seeAll-link">tout voir<img id="icone-doubleArrowRight" src="/icones/doubleArrowRight.svg" alt="" loading="lazy"></a></div>
        </section>

        <div class="parallax2"><p>Batnae municipium in Anthemusia conditum Macedonum manu priscorum ab Euphrate flumine brevi spatio disparatur, refertum mercatoribus opulentis, ubi annua sollemnitate prope Septembris initium mensis ad nundinas magna promiscuae fortunae convenit multitudo ad commercanda quae Indi mittunt et Seres aliaque plurima vehi terra marique consueta.</p></div>

        <section id="ephemeral-section">
            <div class="title-container">
                <h2>les éphémères</h2>
                <img id="logo2" src="/logo/Logo-2.webp" alt="Logo de la Brasserie Sainte Cru">
            </div>
            <h3>disponibles jusqu’à épuisement du stock</h3>

            <div class="carousel">
                <div class="group">
                    {% for product in ephemeral %}
                        {% for picture in product.pictures %}
                            {% if loop.first %}
                                    <div class="card">
                                        <a href="{{ path('detail_product',{'id':product.id})}}">
                                            <img src="{{picture.pictureName}}" alt="{{product.productName}}">
                                            <div class="overlay">
                                                <div class="overlay-text">{{product.productName}}</div>
                                            </div>
                                        </a>
                                    </div>
                            {% endif %}
                        {% endfor %}            
                    {% endfor %}
                </div>
                <div aria-hidden class="group"> 
                    {% for product in ephemeral %}
                        {% for picture in product.pictures %}
                            {% if loop.first %}
                                <div class="card">
                                    <a href="{{ path('detail_product',{'id':product.id})}}">
                                        <img src="{{picture.pictureName}}" alt="{{product.productName}}">
                                        <div class="overlay">
                                            <div class="overlay-text">{{product.productName}}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}            
                    {% endfor %}
                </div> 
            </div>

            <div class="seeAll-link__container"> <a href="{{ path('app_beers') }}" class="seeAll-link">tout voir<img id="icone-doubleArrowRight" src="/icones/doubleArrowRight.svg" alt="icône représentant une double flèche représentant le lien vers la page produits"></a></div>
        </section>
</div>

<script>
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      } 
</script>

{% endblock %}
