{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}



{% block body %}
<a href="#header"><img src="/icones/arrow.webp" class="top-button" alt="Image représentant un cercle vert contenant une flèche blanche permettant de remonter en haut de page"> </a>
<div id="home-wrapper">

    <div class="parallax"><p>Brasserie locale et artisanale, La brasserie Sainte Cru est née à Sainte-Croix-en-Plaine en 2012. Installée à Colmar depuis 2013, nous brassons désormais une <strong>gamme permanente disponible toute l’année</strong> et une <strong>gamme éphémère renouvelée chaque mois</strong>, disponible jusqu’à épuisement du stock</p></div>

        <section id="permanent-section">
            <div class="title-container">
                <h2>les permanentes</h2>
                <img id="logo2" src="/logo/Logo-2.webp" alt="Logo de la Brasserie Sainte Cru">
            </div>
            <h3>disponibles toute l'année</h3>
            <div class="carousel">
                {% for product in permanent %}
                    {% for picture in product.pictures %}
                        {% if loop.first %}
                            <div class="group">
                                <a href="{{ path('detail_product',{'id':product.id})}}"><img class="card" src="{{picture.pictureName}}" alt="{{product.productName}}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}            
                {% endfor %}
            
                {% for product in permanent %}
                    {% for picture in product.pictures %}
                        {% if loop.first %}
                            <div aria-hidden class="group">
                            <a href="{{ path('detail_product',{'id':product.id})}}"><img class="card" src="{{picture.pictureName}}" alt="{{product.productName}}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}            
                {% endfor %}
             </div>

            <div class="seeAll-link__container"> <a href="{{ path('app_beers') }}" class="seeAll-link">tout voir<img id="icone-doubleArrowRight" src="/icones/doubleArrowRight.svg" alt="" loading="lazy"></a></div>

        </section>

        <section id="ephemeral-section">
            <div class="title-container">
                <h2>les éphémères</h2>
                <img id="logo2" src="/logo/Logo-2.webp" alt="Logo de la Brasserie Sainte Cru">
            </div>
            <h3>disponibles jusqu’à épuisement du stock</h3>

            <div class="carousel">
                {% for product in ephemeral %}
                    {% for picture in product.pictures %}
                        {% if loop.first %}
                            <div class="group">
                                <a href="{{ path('detail_product',{'id':product.id})}}"><img class="card" src="{{picture.pictureName}}" alt="{{product.productName}}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}            
                {% endfor %}
            
                {% for product in permanent %}
                    {% for picture in product.pictures %}
                        {% if loop.first %}
                            <div aria-hidden class="group">
                            <a href="{{ path('detail_product',{'id':product.id})}}"><img class="card" src="{{picture.pictureName}}" alt="{{product.productName}}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}            
                {% endfor %}
             </div>
            <div class="seeAll-link__container"> <a href="{{ path('app_beers') }}" class="seeAll-link">tout voir<img id="icone-doubleArrowRight" src="/icones/doubleArrowRight.svg" alt=""></a></div>
        </section>

</div>


{% endblock %}
