{% extends 'base.html.twig' %}

{% block title %}Votre commande {{order.orderReference}}{% endblock %}

{% block body %}
<main class="order__main">
   <div><h1>Commande du {{order.dateOfPlacement|date('d/m/Y')}}</h1><span>Référence : <strong>{{order.orderReference}}</strong></span></div>
   
   <h2>Références client</h2>
    <p><span class="fit">Nom client : </span><span class="bold name">{{order.orderUserLastName}}</span></p>
    <p><span class="fit">Prénom client : </span><span class="bold name">{{order.orderUserFirstName}}</span></p>
    <p><span class="fit">Email : </span><span class="bold">{{order.orderEmail}}</span></p>

   <h2>{% if nbItems > 1 %} Produits ({{nbItems}} produits) {% else %} Produit ({{ nbItems }} produit) {% endif %} <span></span></h2>
    <table>
        <thead>
            <tr>
                <th>Désignation</th>
                <th>Prix unitaire HT</th>
                <th>Quantité</th>
                <th>TVA</th>
                <th class="right">Sous-total TTC</th>
            </tr>
        </thead>
        <tbody>
            {% for orderProduct in order.orderProducts %}
                <tr>
                    <td>{{orderProduct.appProduct.productName}} {% if orderProduct.appProduct.productVolume is not null %} {{orderProduct.appProduct.productVolume}} {% else %} {{orderProduct.appProduct.size.sizeName}} {% endif %}</td>
                    <td class="centered">{{orderProduct.appProduct.productPrice}} €</td>
                    <td class="centered">{{orderProduct.quantity|number_format(2,'.',' ')}}</td>
                    <td class="centered">{{orderProduct.appProduct.vat.vatRate * 100}} %</td>
                    <td class="right bold">{{subTotals[orderProduct.appProduct.id]}} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
   <h2>Total TTC : <span class="bold">{{order.orderTotal}} €</span></h2>


</main>

<style>
    .order__main{
        font-family:'nunito';
        padding:1rem 8rem;

        div{
            display:flex;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;

            h1{
                font-weight:400;
                font-size:1em;
            }

            span{
                border:none;
                width:fit-content;
            }
        }

        h2{
            border-bottom:var(--main) solid 1px;
            width:20%;
            margin:4rem 0.5rem 2rem 0.5rem;
            font-weight:400;
            font-size:1.1em;
        }

        p{  
            width:100%;
            display: flex;
            gap:5rem;
            margin:1rem 0.5rem;
        }

        .name{
            text-transform: capitalize;
        }

        .fit{
            width:10%;
        }
        table{
            width:100%;
            border-collapse:separate;
            border-spacing: 0 15px;
       
            td,th{
                width:fit-content;
                padding:1rem;
            }
        }
        .right{
            text-align: right;
        }
    }

</style>
{% endblock %}
