{% extends 'base.html.twig' %}

{% block title %}Votre commande {{order.orderReference}}{% endblock %}

{% block body %}
<main class="order__main">
   <div><h1>Commande du {{order.dateOfPlacement|date('d/m/Y')}}</h1><span>Référence : <strong>{{order.orderReference}}</strong></span></div>
   
   <h2>Références client</h2>
    <p><span class="fit">Nom client : </span><span class="bold name">{{order.orderUserLastName}}</span></p>
    <p><span class="fit">Prénom client : </span><span class="bold name">{{order.orderUserFirstName}}</span></p>
    <p><span class="fit">Email : </span><span class="bold">{{order.orderEmail}}</span></p>

   <h2>{% if nbItems > 1 %} Produits ({{nbItems}} produits) {% else %} Produit ({{ nbItems }} produit) {% endif %} <span></span></h2>
    <table>
        <thead>
            <tr>
                <th>Désignation</th>
                <th>Prix unitaire HT</th>
                <th>Quantité</th>
                <th>TVA</th>
                <th class="right">Sous-total TTC</th>
            </tr>
        </thead>
        <tbody>
            {% for orderProduct in order.orderProducts %}
                <tr>
                    <td>{{orderProduct.appProduct.productName}} {% if orderProduct.appProduct.productVolume is not null %} {{orderProduct.appProduct.productVolume}} {% else %} {{orderProduct.appProduct.size.sizeName}} {% endif %}</td>
                    <td class="centered">{{orderProduct.appProduct.productPrice}} €</td>
                    <td class="centered">{{orderProduct.quantity|number_format(2,'.',' ')}}</td>
                    <td class="centered">{{orderProduct.appProduct.vat.vatRate * 100}} %</td>
                    <td class="right bold">{{subTotals[orderProduct.appProduct.id]}} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
   <h2>Total TTC : <span class="bold">{{order.orderTotal}} €</span></h2>


</main>

{% endblock %}
