{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
<h1 class="centered">Mon compte</h1>
    <main class="user-profile__main">

        <div class="alertContainer">
            <div class="a-content">
                    <p class="alertMsg"><i class="fa-solid fa-triangle-exclamation"></i><br><span class="bold"> Vous êtes sur le point de supprimer votre compte.</span><br><span>Si vous confirmez, vous allez perdre l'intégralité des informations liées à votre compte.</span>
                    <div class="buttons-container">
                    <p class="confirmButton">Confirmer la suppression <i class="fa-solid fa-check"></i></i></p>
                    <p class="cancelButton">Annuler <i class="fa-solid fa-xmark"></i></p>
                    </div>
            </div>
        </div>

        <div id="side-container">
            <a href="{{ path('app_favorites') }}" class="favorites-button"><i class="fa-solid fa-heart"></i> Mes favoris</a>
            <p class="delete-accountButton">Supprimer mon compte</p>
        </div>

        <div id="main-container">
            <h2>Informations du compte</h2>
            <p id="personal-info">Email : <span class="bold">{{user.email}}</span></p>
            
            <h2>Mes commandes passées</h2>
                <div class="orders-list">
            {% if user.orders is not empty %}
                {% for order in user.orders %}
                    <p>Commande du {{ order.dateOfPlacement|date('d-m-Y') }} <a href="{{ path('app_order',{id:order.id}) }}"><i class="fa-regular fa-circle-right"></i></a></p>
                {% endfor %}
            {% else %}
                    <p class="centered">Vous n'avez pas de commande</p>
            {% endif %}
                </div>

                
    <h2>Mes factures</h2>
    {% for userBill in userBills %}
    {% if userBill %}
    <a href="{{ asset('bills/' ~ 'bill_user' ~ user.id ~ '.pdf') }}" target="_blank">
        Voir ma facture 
    </a>
    {% else %}
    <p>No bill found for this user.</p>
{% endif %}
    {% endfor %}
  


        </div>
    </main>


{% endblock %}

