{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% for message in app.flashes('info') %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}


        <section class="registration-page">
            
            <section class="login-section">
                <h3 class="login-section-title title">J'ai déjà un compte</h3>
                <a href="{{ path('app_login') }}"><button class="register-login-btn btn">Connexion</button></a>
            </section>

            <div class="vertical-line"></div>

            <section class="registration-section">
                <h2 class="registration-section-title title">Creer un compte</h2>
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm,{'attr': {'class': 'registration-form'}}) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'}) }}
                            <div class="terms-container">
                                <p>J'accepte les <a href="#">termes et conditions</a></p>
                                {{ form_widget(registrationForm.agreeTerms) }}
                            </div>
                            <button type="submit" class="register-login-btn btn">Créer un compte</button>
                        {{ form_end(registrationForm) }}
            </section>

        </section>

{% endblock %}
