{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

        <section class="registration-page">
            
            <section class="login-section">
                <h2 id="login">J'ai déjà un compte</h2>
                <a href="{{ path('app_login') }}"><button class="register-login-btn">Connexion</button></a>
            </section>

            <div class="vertical-line"></div>

            <section class="registration-section">
                <h2 id="registration">S'inscrire</h2>
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm,{'attr': {'class': 'registration-form'}}) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'}) }}
                            {{ form_row(registrationForm.agreeTerms) }}

                            <button type="submit" class="register-login-btn">Créer un compte</button>
                        {{ form_end(registrationForm) }}
            </section>

        </section>




   




{% endblock %}
