{% extends 'base.html.twig' %}

{% block title %}Bières{% endblock %}



{% block body %}
<button class="top-button"><a href="#header"><img src="/icones/scroll-up.png" alt=""></a></button>
<div class="products__page-wrapper">

    <section class="products__sidebar">
        {{ form_start(form,{'attr': {'class': 'search-form'}}) }}
        <div class="sidebar-container">
            <h3> Par nom : </h3>
            {{ form_row(form.name) }}
        </div>   
        <div class="sidebar-container">
            <h3>par couleur : </h3>

            <div class="radio-button__container">
                {% for choice in form.color %}
                <div class="radio-button-group">
                    {{ form_widget(choice, {'attr': {'class': 'search-input'}}) }}
                    {{ form_label(choice, null, {'label_attr': {'class': 'search-label'}}) }}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="sidebar-container">
            <h3>par type : </h3>
            <div class="radio-button__container">
                {% for choice in form.type %}
                <div class="radio-button-group">
                    {{ form_widget(choice, {'attr': {'class': 'search-input'}}) }}
                    {{ form_label(choice, null, {'label_attr': {'class': 'search-label'}}) }}
                </div>
            {% endfor %}
            </div>
            {{ form_end(form) }}
        </div> 

        <a class="reset-button" href=" {{ path('app_beers') }} ">Reset</a>
    </section>

    <section class="products__container">
        {% for product in products %}
            <div class="product-card">
                <!-- Swiper -->
            <div class="swiper mySwiperProducts">
                <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="/img/beerNoBackground.png" alt=""> </div>
                <div class="swiper-slide"><img src="/img/beerNoBackground.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

                <h3 class="centered">{{product.productName}}</h3> 
                <p class="centered">{{product.type.typeName}} | {{product.productAlcoholLevel}} | {{product.productVolume}}</p>
                <p class="centered">{{product.productPrice}}</p>
                <div><button>-</button>qte<button>+</button></div>
                <a href="{{ path('cart_add',{id:product.id}) }}"><button class="btn basket-btn" type="submit">Ajouter au panier</button></a>
            </div>

      
        {% endfor %}
    </section>
</div>

{% endblock %}



