{% extends 'base.html.twig' %}

{% block title %}Bières{% endblock %}

{% block body %}
    
<main class="detail-product-main">


    <h1 class="centered">{{product.productName}}</h1>
 

    {% if product.productStock > 10 %}
        <div class="stock-status available">En stock</div>
    {% else %}
        <div class="stock-status unavailable">Indisponible</div>
    {% endif %}

    <div class="sections-wrapper">
        <section class="detail-product-section">
            
            <p class="description centered">{{product.productDescription}}</p>
            <div class="caracteristics-container">
            <div class="flex"><p>Taux d'alcool</p><p class="bold">{{product.productAlcoholLevel}}</p></div>
            <div class="flex"><p>Volume</p><p class="bold">{{product.productVolume}}</p></div>
            <div class="flex"><p>Couleur</p><p class="bold">{{product.productColor}}</p></div>
            <div class="flex"><p>Type</p><p class="bold">{{product.type.typeName}}</p></div>
            </div>

        </section>

        <section class="bezier-section">
            <div class="flip">
                <div class="front" style="background-image:url(/img/beerNoBackground.png)"> <p>Bière {{product.productColor}}</p>
                {# <h2>{{product.productName}}</h2> #}
                </div>

                <div class="back" style="background-image:url(/img/beerNoBackground.png)">
                <p>{{product.productAlcoholLevel}}</p><p>{{product.productVolume}}</p>
            </div>
        </section>

        <section class="pricing-card-section">
            <div class="price-tag"><p>{{product.productPrice}} €</p></div>
            
                <div class="qty-wrapper">
                <p>Quantité :</p>
                    <div class="qty-container">
                        <button class="qty-btn-minus btn-rounded" type="button"><i class="fa fa-chevron-left"></i></button>
                        <input type="text" name="qty" value="0" class="input-qty input-rounded"/>
                        <button class="qty-btn-plus btn-rounded" type="button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>

            <button class="basket-btn-green btn">Ajouter au panier</button>

            <div class="tags-cloud">
                <a href="">{{product.productColor}}</a>
                <a href="">{{product.type.typeName}}</a>
                <a href="">{{product.productVolume}}</a>
                <a href="">{{product.category.categoryName}}</a>
            </div>
        </section>
    </div>
</main>


</div>
{% endblock %}