{% extends 'base.html.twig' %}

{% block title %}Bières{% endblock %}

{% block body %}

<div class="alertBox">
    <div class="alertContent">
        <p class="closeAlert"><i class="fa-solid fa-xmark"></i></p>
        <p class="alertMessage"></p>
    </div>
</div>

<main class="detail-product-main">

        <section class="bezier-section">
            <div class="flip">
                {% for picture in product.pictures %}
                    {% if loop.first %}
                    <div class="front" style="background-image:url({{ picture.pictureName }})">
                        <p>Bière {{product.productColor}}</p>
                    </div>
                    {% endif %}

                {% if loop.last %}
                    <div class="back" style="background-image:url({{picture.pictureName}})">
                {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="pricing-card-section">
            <div class="price-tag"><p>{{product.productVATPrice}} €</p></div>
            <h1 class="centered">{{product.productName}}</h1>
            {% if product.productStock > 10 %}
            <div class="stock-status available">En stock</div>
        {% else %}
            <div class="stock-status unavailable">Indisponible</div>
        {% endif %}
            
        <div class="description">
            <p id="product-description">{{product.productDescription}}</p>
            <p class="row"><span>Volume d'alcool</span><span class="bold">{{product.productAlcoholLevel}}</span></p>
            <p class="row"><span>Couleur</span><span class="bold">{{product.productColor}}</span></p>
            <p class="row"><span>Type</span><span class="bold">{{product.type.typeName}}</span></p>
        </div>
            
            <div class="qty-wrapper">
            <p>Quantité :</p>
                <div class="qty-container">
                    <button class="qty-btn-minus btn-rounded decrement" type="button" data-product="{{product.id}}"><i class="fa-solid fa-minus"></i></button>
                    <input type="text" name="qty" value="1" min="0" class="input-qty input-rounded qty-input" data-product="{{ product.id }}">
                    <button class="qty-btn-plus btn-rounded increment" type="button" data-product="{{product.id}}"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>

            <button data-product="{{product.id}}" type="submit"class="basket-btn-green btn add-to-cart">Ajouter au panier</button>

            <p id="success-message"></p>
        </section>
</main>

{% endblock %}




