{% extends 'base.html.twig' %}

{% block title %}GOODIES{% endblock %}

{% block body %}

 <div class="alertBox">
    <div class="alertContent">
        <p class="closeAlert"><i class="fa-solid fa-xmark"></i></p>
        <p class="alertMessage"></p>
    </div>
</div>

<a href="#header"><img class="top-button" src="/icones/arrow.webp" alt=""></a>

<div class="banner">
    <p>Nous n'effectuons pas de livraison : retirez vos produits au point de retrait de votre choix</p>
</div>

<div class="products__page-wrapper">
    <section class="products__sidebar">
        {{ form_start(form,{'attr': {'class': 'search-form'}}) }}
        <div class="sidebar-container">
            <h3> Par article : </h3>
            {{ form_row(form.name) }}
        </div>   
        <div class="sidebar-container">
            <h3> Par couleur : </h3>
            <div class="radio-button__container">
                {% for choice in form.color %}
                <div class="radio-button-group">
                    {{ form_widget(choice, {'attr': {'class': 'search-input'}}) }}
                    {{ form_label(choice, null, {'label_attr': {'class': 'search-label'}}) }}
                </div>
            {% endfor %}
            </div>
        </div> 
        <div class="sidebar-container">
            <h3> Par genre : </h3>
            <div class="radio-button__container">
                {% for choice in form.productGender %}
                <div class="radio-button-group">
                    {{ form_widget(choice, {'attr': {'class': 'search-input'}}) }}
                    {{ form_label(choice, null, {'label_attr': {'class': 'search-label'}}) }}
                </div>
            {% endfor %}
            </div>
        </div> 
        <div class="sidebar-container">
            <h3>par taille: </h3>
            <div class="radio-button__container">
                {% for choice in form.size %}
                <div class="radio-button-group">
                    {{ form_widget(choice, {'attr': {'class': 'search-input'}}) }}
                    {{ form_label(choice, null, {'label_attr': {'class': 'search-label'}}) }}
                </div>
            {% endfor %}
            </div>
        </div> 
            {{ form_end(form) }}
        

        <a class="reset-button" href=" {{ path('app_goodies') }} ">Reset</a>
    </section>

    <section class="products__container">
        {% if products %}
            {% for product in products %}
                <div class="product-card">
                    {% if app.user %}
                        {% if product in favorites %}
                            <p class="add-to-favorites"><i class="fa-solid fa-heart" data-product-favorite="{{product.id}}"></p></i>
                        {% else %}
                            <p class="add-to-favorites"><i class="fa-regular fa-heart" data-product-favorite="{{product.id}}"></i></p>
                        {% endif %}
                    {% endif %}

                {% for picture in product.pictures %}
                    {% if loop.first %}
                        <a href="{{ path('detail_product',{id:product.id}) }}"><div class="picture-container"> <img src="{{ picture.pictureName }}" alt="photo de la face avant du produit"> </div></a>
                    {% endif %}
                {% endfor %}

                    <h3 class="centered">{{product.productName}}</h3> 
                    {% if product.productStock > 10 %}
                        <div class="stock-info" data-stock="{{product.productStock}}" data-product="{{product.id}}">
                            <div class="green-dot"></div>en stock
                        </div>
                    {% else %}
                        <div class="stock-info"><div class="red-dot"></div>indisponible</div>
                    {% endif %}
                        <p class="centered">{{product.productGender}}</p>
                        <p class="centered">{% if product.size is not null %}Taille {{product.size.sizeName}} - {% endif %}{{product.productColor}}</p>
                    

                            
                    
                    <p class="centered">{{product.productVATprice}} €</p>
                    <div class="wrapper">
                        <div class="quantity">
                            <button class="minus decrement" data-product="{{product.id}}" aria-label="Decrease">&minus;</button>
                                <input type="number" class="input-box" value="1" min="0" data-product="{{ product.id }}">
                            <button class="plus increment" data-product="{{product.id}}" aria-label="Increase">&plus;</button>
                        </div>
                    </div>
                <button class="btn basket-btn add-to-cart" data-product="{{product.id}}" type="submit">Ajouter au panier</button>
                </div>
            {% endfor %}
            {% else %}
            <p id="no-result">Aucun résultat</p>
        {% endif %}
    </section>
</div>

{% endblock %}












