<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ meta_description }}">
        <title>{% block title %}Welcome{% endblock %}</title>
        <link rel="icon" href="/logo/Logo-2.webp">
        {# <link rel="preload" fetchpriority="high" as="image" href="/public/img/steCruDark.webp" type="image/webp" media="(min-width: 768px)> #}

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/darkmode.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/mediaqueries/mobile.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/mediaqueries/tablet.css') }}">

        {% endblock %}

        {% block cdn %}
        {# FONT AWESOME CDN #}
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />

        {% endblock %}

    </head>

    <body>
        <header>
            {% block header%}
                <div class="header__wrapper">
                    <!-- ***************************** HEADER LEFT -->
                    <div class="header__container-left">
                        <a href="{{path('app_home')}}">
                            <img id="logo" src="/logo/logo-1.webp" alt="Logo de la brasserie Sainte Cru reprenant la croix blanche du blason de la commune alsacienne de Sainte-Croix-En-Plaine">
                            <h1 id="logo-text">Brasserie indépendante</h1>
                        </a>
                    </div>
                    <!-- ***************************** HEADER RIGHT -->
                    <div class="header__container-right">
                        <div class="dark-mode__container" id="darkModeButton">
                            <i class="fa-regular fa-moon" id="darkModeIcon"></i>
                            <p id="darkModeText">Dark Mode</p>
                        </div>
                        <div class="cart__container">
                            <i class="fa-solid fa-basket-shopping"></i>
                            <p id="nbItems">
                                {% if app.session.get('nbItems') == 1 %}
                                    {{ app.session.get('nbItems') }} article
                                {% elseif  app.session.get('nbItems') > 1 %} 
                                    {{ app.session.get('nbItems') }} articles
                                {% else %}
                                    Pas d'article
                                {% endif %}
                            </p>
                        </div>
                        {% if app.user %}
                            <a href="{{ path('app_favorites') }}" class="burgerLink favorite__link"><i class="fa-brands fa-gratipay"></i>Mes favoris</a>
                            <a href="{{path('app_user')}}" class="burgerLink user__link"><i class="fa-regular fa-user"></i>Mon compte</a>
                            <a href=" {{ path('app_logout') }}" class="burgerLink logout__link">Déconnexion</i></a>
                        {% else %}
                            <a href=" {{ path('app_login') }} " class="burgerLink user__link"><i class="fa-solid fa-user"></i><p>Connexion</p></a>
                        {% endif %}
                    </div>
                </div>
                <!-- ***************************** NAVBAR -->
                <nav class="nav">
                    {% block nav %}
                        <div class="nav__container">
                            <a class="nav__container-a">taproom</a>
                            <a class="nav__container-a" href=" {{ path('app_beers') }}">nos bières</a>
                            <a class="nav__container-a" href=" {{ path('app_goodies')}}">goodies</a>
                            <a class="nav__container-a">la brasserie</a>
                            <a class="nav__container-a cart" href=" {{ path('app_cart')}}">panier</a>
                            <a class="nav__container-a user-account" href=" {{ path('app_user')}}">mon compte</a>
                        </div>
                    {% endblock %}
                </nav>
                
                <!-- ***************************** BURGER MENU ICONE -->
                <a href="javascript:void(0);" class="icon" onclick="burgerMenuMobile()">
                    <div>
                        <div class="burger">
                            <span></span>
                        </div>
                    </div>
                </a>
            {% endblock %}
        </header>

        <!-- *****************************SIDE CART -->
        <div class="cart-summary"><h2>Votre panier</h2><a href='/cart'>Voir le panier</a></div>

        <!-- *****************************BODY -->
        {% block body %}{% endblock %}     

        <!-- *****************************FOOTER -->
        {% block footer %}
            <footer class="centered">
                {% if newsletterForm is defined %}
                <div class="newsletter__container">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-error">{{ message }}</div>
                    {% endfor %}
            
                    <p>m'inscrire à la newsletter</p>
     
                    {{ form_start(newsletterForm) }}

                    {{ form_end(newsletterForm) }}
                </div>
                {% endif %}
                
                <div class="footer__wrapper-main-container">
                    <div class="footer__wrapper-container">
                        <span id="contact">Nous contacter</span>
                        <a href="#">+33 3 89 00 00 00</a>
                        <a href="#">contact@ste-cru.com</a>
                    </div>
                    <div class="footer__wrapper-container">
                        <span id="find">Infos pratiques</span>
                        <a href="#">Nous trouver</a>
                        <a href="#">Horaires d'ouverture</a>

                    </div>
                    <div class="footer__wrapper-container">
                        <span id="follow">Suivez nous</span>
                        <div class="icons-container">
                            <a href="https://www.instagram.com/brasserie_sainte_cru/" target="blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.facebook.com/BrasserieSainteCru" target="blank"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="footer__wrapper-container">
                        <span id="about">a propos</span>
                        <a href="#">CGV</a>
                        <a href="#">Mentions légales</a>
                        <a href="#">Politique de confidentialité</a>
                    </div>
                </div>
                <small>La vente de boissons alcoliques est interdite aux mineurs de moins de 16 ans  -  L'abus d'alcool est dangereux pour la santé</small>
            </footer>    
        {% endblock %}

        <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
            document.body.classList.add('dark-mode')
            const text = document.getElementById("darkModeText");  
            const icon =  document.getElementById("darkModeIcon");
            icon.classList.replace('fa-moon','fa-lightbulb');
            darkModeText.textContent = "Light Mode";
            const logo2 = document.querySelectorAll('#logo2'); 
            if(logo2){  
                logo2.forEach(logo => {
                    logo.src = "/logo/logo-1.webp"
                });
            }
        }
        </script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }} {% endblock %}
        {% endblock %}


    </body>
</html>
