{% extends 'base.html.twig' %}

{% block title %}Identifiez-vous{% endblock %}

{% block body %}
   
        <section class="identification-page">
            
            <h2>Etape 1: Identifiez-vous</h2>

            <div class="horizontal-line"></div>

                {{ form_errors(identificationForm) }}

                {{ form_start(identificationForm,{'attr': {'class': 'identification-form'}}) }}
                    <div class="groups-wrapper">
                        <div class="identificationForm-group">
                            {{form_label(identificationForm, 'Prénom',{'label_attr':{'class':'id-label'}})}}
                            {{form_widget(identificationForm.orderUserFirstName) }}
                        </div>
                        <div class="identificationForm-group">
                            {{form_label(identificationForm, 'Nom',{'label_attr':{'class':'id-label'}})}}
                            {{form_widget(identificationForm.orderUserLastName) }}
                        </div>
                    </div>
                    <div class="identificationForm-group">
                        {{form_label(identificationForm, 'Email',{'label_attr':{'class':'id-label'}})}}
                        {{form_widget(identificationForm.orderEmail, {'attr': {'value':app.user ? app.user.getEmail() : ''} }) }}
                    </div>
                    <div class="groups-wrapper">
                        <div class="agreeTerms-group">
                            {{form_label(identificationForm, 'Je certifie avoir 18 ans',{'label_attr':{'class':'id-label'}}) }}
                            {{form_widget(identificationForm.agreeTerms) }}
                        </div>
                        <p>Un justificatif d'identité vous sera demandé lors du retrait</p>
                    </div>
                    
                    <a href="app_payment-identification"><button type="submit" class="identification-btn btn">Continuer</button></a>
                    
                {{ form_end(identificationForm) }}

        </section>



{% endblock %}
