{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de votre commande{% endblock %}

{% block body %}
<h1 class=centered>Récapitulatif avant paiement</h1>
<div class="recap-wrapper">
    <table id="recap-table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cartData %}
            
            <tr class="recap-item-row">
                <td>
                {% for picture in item.product.pictures %}
                    {% if loop.first %}
                        <img class="recap-picture" src="{{picture.pictureName}}" alt="photo de la face avant du produit">
                    {% endif %}
                {% endfor %}
                {{item.product.productName}} - {% if item.product.productVolume is not null %}{{item.product.productVolume}}{% else %}{{item.product.size.sizeName}}{% endif %}
                </td>
                <td>{{item.quantity}}</td>
                <td>{{subTotals[item.product.id]}} €</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td><td class="total-recap">TOTAL TTC :</td><td class="bold large">{{total}} €</td>
            </tr>
        </tbody>
    </table>
    <a class="btn choose-btn" href="{{ path('app_payment-checkout') }}">Payer</a>
</div>



{% endblock %}